body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidebar li{
  padding: 12px;
border-bottom: 2px solid black;
}
.sidebar li a{
  color: black;
  text-decoration: none;
}
.homeicon{
  color: #191d45;
  margin:  0px 5px 0 5px;
  font-size: 1.5rem;
}
.about{
  margin: 5em 3em;
}